.NoSoyRobot {
    background-color: SkyBlue;
    color: white;
    text-align: center;
    border-radius: 10px;
    }
    html {
    background-color: pink;
    }
    .alpha {
    text-align: center;
    }